body{
/*	background-color: #efefec; */
	background-color: #ffffff;
	background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, to(rgb(255, 255, 255)), from(rgb(142, 149, 155)));
	background-image: -webkit-radial-gradient(50% 50%, rgb(255, 255, 255), rgb(142, 149, 155));
	background-image: -moz-radial-gradient(50% 50%, rgb(255, 255, 255), rgb(142, 149, 155));
	background-image: -o-radial-gradient(50% 50%, rgb(255, 255, 255), rgb(142, 149, 155));
	background-image: -ms-radial-gradient(50% 50%, rgb(255, 255, 255), rgb(142, 149, 155));
	background-image: radial-gradient(50% 50%, rgb(255, 255, 255), rgb(142, 149, 155));
}

#container{
	padding: 10px;
	background-color: #fff;
	font: 1em Georgia, Times, Serif;
	position:fixed;
	top: 2px;
	left: 4px;
	right: 4px;
	bottom: 22px;
	border-radius: 15px;
}

#header {
	margin: 10px;
	height: 70px;
}
#header h1{
	font: 2.5em "Baskerville", Georgia, Times, Serif;
	font-weight: bold;
	text-align: left;	
	margin: 0;
	padding: 0;
}

#plateau {
	padding: 10px;
	border: 1px solid #cecece;
	border-radius: 15px;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	border-radius: 15px;
}
#actions_container{
	float: left;
	margin: 3px 3px;
	text-overflow: ellipsis;
   	white-space: nowrap;
  	width: 150px;
  	overflow: hidden;
	font: 1em Georgia, Times, Serif;
	background-color: #fff;
}
#actions_container li {
	background-color: #fff;
	border:0;
	margin: 0;
	padding: 0;

}

#actions_container h1 a:link, a:visited, a:active{
	text-decoration: none;
	color: #000000;

}

#actions_container h1 a:hover{
	font-style: italic;
	text-decoration: none;
	color: #000000;
}
#actions_container h2{
	font: 2em "Baskerville", Georgia, Times, Serif;	
	font-style: italic;
	text-align: left;
	margin: 0em 0;
	padding: 0;
}

#actions_container h3{
	font: 1.5em Georgia, Times, Serif;
	text-align: left;
}

#actions_container div {
	border: ;
	padding: 40px 3%;
	margin: 0px, 0;
	list-style-type:none; 

}
a {
    text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: #555555;
}

[live = true] {
	font-style:italic;
}

#center {
	margin: 0px 15px;
	float: left;
	bottom: 10px;
	width: 80%;
	height: 90%;
	font: 1em Georgia, Times, Serif;
}

#filters { 
	position: relative;
	left: 10px;
	padding: 0, 0;
	display:block;
}
#filters td {
	padding-left: 8px;
	padding-right: 8px;
	margin: 0;
	vertical-align: top;
	background-color: #fff;
}
#search {
	text-align: left;
	padding: 0;
}
#centerlab {
	font-size: 20px;
}
#labels {
}
#results {
	position: relative;
	margin-top: 10px;
	background-color: #fff;
	overflow-y: scroll;
}

#detail {
	margin-left: 25px;
	margin-bottom: 10px;
	padding: 0px;
	float: left ;
}

#fields {
	position: relative;
	float: left;
	margin-bottom: 10px;
	padding: 0px;
	width: 250px;
}

#review {
	float: left;
	width: 250px;
	margin-left: 15px;
	margin-bottom: 10px;
	padding: 0px;
}

.pure-form {
	margin: 0;
	padding: 0, 0, 0, 0;
	border: none;
}
.pure-input-1-2 {
	margin:0;
	padding: 0, 0, 0, 0;
}
.pure-group {
	margin:0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 10px;
	-webkit-padding-after: 0;
	border: none;
}
#list {
	margin: -10px, 0;
	padding: 0px;
	height: 335px;
	width: 100%;
	display: block;
	overflow-y: scroll;
}
#list table {
	border-collapse: separate;
}
#list th {
	text-align: left;
}
#results tr:hover {
	background-color: rgba(190, 190, 190, 0.4);

}
#list td {
	text-overflow: ellipsis;
   	white-space: nowrap;
  	max-width: 150px;
  	overflow: hidden;
  	padding-right: 10px
}
#addQueue div { 
	float:right;
}
#formQueue {
	z-index:10;
	float:right;
}


#searchresults {
	top:3px;
	z-index: 15px;
	position:relative;
	background-color: #fff;
	max-height:350px;
	overflow-y:scroll;
}

#footer {
	margin: 0 15px 0 0;
	color:white;
	padding: 2px 14px;
	position: fixed;
	bottom: 0;
	right: 0;
}
#mozPrintCallback-shim {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;

  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#mozPrintCallback-shim[hidden] {
  display: none;
}
@media print {
  #mozPrintCallback-shim {
    display: none;
  }
}

#mozPrintCallback-shim .mozPrintCallback-dialog-box {
  display: inline-block;
  margin: -50px auto 0;
  position: relative;
  top: 45%;
  left: 0;
  min-width: 220px;
  max-width: 400px;

  padding: 9px;

  border: 1px solid hsla(0, 0%, 0%, .5);
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

  background-color: #474747;

  color: hsl(0, 0%, 85%);
  font-size: 16px;
  line-height: 20px;
}
#mozPrintCallback-shim .progress-row {
  clear: both;
  padding: 1em 0;
}
#mozPrintCallback-shim progress {
  width: 100%;
}
#mozPrintCallback-shim .relative-progress {
  clear: both;
  float: right;
}
#mozPrintCallback-shim .progress-actions {
  clear: both;
}
.error{
	border: 1px solid #FF716A;
	border-radius: 2px;
	background-color: #FDD1D1;
	font: 1em Georgia, Times, Serif;
	padding: 0.3em;
	margin: 0 0 0.5em 0;
}

.success{
	border: 1px solid #00000;
	border-radius: 2px;
	background-color: #AAFF99;
	font: 1em Georgia, Times, Serif;
	padding: 0.3em;
	margin: 0 0 0.5em 0;
}

